
.navbar-brand{
    max-width: 20%;
}

.nav-link{
    color:#333
   
}

.nav-link {
    margin-right: 1em !important;
  }

  .navbar-collapse {
    justify-content: flex-end;
  }


  .top {
    background-image:url('pexels-lorenzo-242236.jpg');
   height: 100vh;
  }

  .bottom{
      
    height:100vh;
    
  }

  .titleT{
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
      text-align: center;
  }

  .titleT h1{
      
      color:#333;
      font-size: 50px;
  }
  

  .titleT p{
      color:#333;
      font-size: 20px;
  }

  .bottom p{
      color:slategrey;
  }
  .features .form-control,
  .features input {
      border-radius: 0;
  }
  .features .btn {
    background-color:#589b37;
    border: 1px solid #589b37;
    color: #fff;
    margin-top: 20px;
  }
  .features .btn:hover {
    background-color: #333;
    border: 1px solid #333;
  }

  .bottom3 .feature-title{
      color:slategray;
  }
  
  .bottom3{
    background-image:url('17580.jpg');
      height: 100vh;
      padding-top: 50px;
  }


  .page-footer {
    background-color:rgb(0, 0, 0);
    color: #ccc;
    padding: 60px 0 30px;
  }
  
  .bottom img{
    margin-top: 3em;
    margin-left: 6em;
    height:500px;
  }

  .bottom2{
    height:120vh;
    background-image:url('cesar-couto-tnLXeAkrxDE-unsplash.jpg');
    padding-top: 50px;
  }

  .bottom2 .feature-title{
    color:snow;

  }

  .col-lg-4 img{
    opacity: 0.8;
  cursor: pointer;
}
.col-lg-4 img:hover {
    opacity: 1;
  }

  .imgcontainer {
    position: relative;
    display: none;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }

  .center {
    padding-top: 50px;
  }

  

